.form-field {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;

    textarea {
        width: 100%;
        min-height: 100px;
        resize: vertical;
    }
}

.form-error {
    color: red;
}

.send-button {
    margin: 20px 20px;
}